<html>
<head>
  <title>George<%= " - #{@subtitle}" if @subtitle -%></title>
  <%= stylesheet_link_tag 'george' %>
  <%= javascript_include_tag :defaults %>
  
  <% if @map %>
  <%= Cartographer::Gmap::Header.header_for(request) %>
  <%= @map.to_html %>
  <% end %>
</head>
<body>
  <div id="header">
    GeoRGE - Geocoding Rightness and Goodness Examiner
  </div>
  
  <div id="container">
    <% if @map %>
    <div id="map"></div>
    <% end %>
    <%= yield %>
  </div>
  
  <div id="footer">
    Copyright &copy; 2006 <%= link_to 'EDGE Design', 'http://www.edgedesign.us' -%>.  All rights reserved.  Maps courtesy of <%= link_to 'Google Maps', 'http://maps.google.com' -%>.
  </div>
</body>
</html>